{% extends 'base.html' %}
{% load static i18n account crispy_forms_tags %}

{% block title %} | Reset Password{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="d-none d-md-flex col-md-4 col-lg-5 mb-4 justify-content-center align-items-center">
                <img src="{% static 'img/accounts.svg' %}" class="form-page-image" />
            </div>
            <div class="col-10 col-md-9 col-lg-5">
                <h2 class="responsive-heading-text">Reset Password</h2>
                {% if user.is_authenticated %}
                    {% include 'account/snippets/already_logged_in.html' %}
                {% endif %}
                <p class="lead">
                    {% trans "Forgotten your password? Enter your email address below, and we'll send you a password reset link." %}
                </p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary btn-block" />
                </form>
                <p class="text-muted mt-4">
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}