<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 py-4">
    <div class="container">
        <h2 class="text-white mr-3">Admin Dashboard</h2>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'users:admin_dashboard' %}" class="nav-link">Properties</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:admin_dashboard_tenants' %}" class="nav-link">Tenants</a>
            </li>
        </ul>
    </div>
</nav>