{% extends 'base.html' %}
{% load static %}

{% block title %} | Communities{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-7 d-flex flex-column align-items-center">
            <img src="{% static 'img/under_construction.svg' %}" class="communities-page-image" />
            <h2 class="my-4 responsive-heading-text font-weight-bold text-light-gray text-center">Coming Soon</h2>
            <p class="lead text-center">This page is currently under construction, but check back soon!</p>
        </div>
    </div>
</div>
{% endblock content %}