{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Add Payment{% endblock title %}

{% block extraheadscripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous"
    />
{% endblock extraheadscripts %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <h2 class="border-bottom pb-2 mb-3">Add Tenant Payment</h2>
                <p>Tenant: {{ tenant_name }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Add Payment</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascripts %}
    <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous">
    </script>
    <script>
        $( function() {
            $("#add-payment-datepicker").datepicker();
        });
    </script>
{% endblock extrascripts %}