{% extends 'base.html' %}
{% load static crispy_forms_tags humanize %}

{% block title %} | Tenants{% endblock title %}

{% block extraheadscripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/sp-1.2.1/datatables.min.css"/>
{% endblock extraheadscripts %}

{% block content %}
    {% include 'partials/_admin_navbar.html' %}
    <div class="container-fluid my-5 px-3 px-md-5">
        {% include 'partials/_alerts.html' %}
        <h2 class="text-primary mb-4 pb-3 display-4 border-bottom">Tenants</h2>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Approved?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tenant in tenants %}
                    <tr>
                        <td>{{ tenant.first_name }} {{ tenant.last_name }}</td>
                        <td>{{ tenant.email }}</td>
                        <td>{{ tenant.phone_number }}</td>
                        <td>
                            {% if tenant.is_approved %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            <a
                                href="{% url 'admin_dashboard:ad_add_tenant_payment' tenant_id=tenant.id %}"
                                class="btn btn-primary btn-sm">
                                    Add Payment
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/sp-1.2.1/datatables.min.js"></script>
    <script>
        $('#table_id').DataTable({
            dom: "<'row justify-content-center'<'col-10 col-md-3'l><'col-10 col-md-3'B><'col-10 col-md-6'f>r>tip",
            buttons: [
                'excelHtml5', 'pdfHtml5', 'print'
            ]
        });
    </script>
{% endblock extrascripts %}