{% extends 'base.html' %}
{% load static humanize %}

{% block title %} | Submit Payment{% endblock title %}

{% block extraheadscripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="{% static 'js/process_payment.js' %}" type="text/javascript" defer></script>
{% endblock extraheadscripts %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 col-xl-4">
                <h2 class="display-4 text-primary font-weight-bold">Submit Payment</h2>
                <p><span class="h5">Name: </span>{{ page_data.name }}</p>
                <p><span class="h5">Property: </span>{{ page_data.address }}</p>
                <p><span class="h5">Contact email: </span>{{ page_data.email }} (receipt will be sent to this email)</p>
                <p><span class="h5">Contact phone: </span>{{ page_data.phone }}</p>
                <hr class="my-4">
                <form action="" id="payment-form" class="mt-4">
                    <p class="form-text">Fill in your credit card information below to submit your payment of ${{ page_data.amt|intcomma }}:</p>
                    <div id="card-element" class=""></div>
                    <button id="submit" class="btn btn-primary btn-block my-4 py-2">
                        <span id="button-icon-regular" ><i class="fas fa-lock"></i></span>
                        <span id="button-icon-wait" class="hidden"><i class="fas fa-spinner wait-spinner"></i></span>
                        <span id="button-text" class="ml-2">Submit Payment</span>
                    </button>
                </form>
                <div id="card-error" class="form-text" role="alert"></div>
                <a href="{% url 'users:user_dashboard' %}" class="text-muted">
                    Cancel and return to dashboard
                </a>
            </div>
        </div>
    </div>
    {{ page_data|json_script:"page_data" }}
{% endblock content %}
