{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <div class="container-fluid my-4 p-4">
        <div class="row justify-content-center">
            <div class="d-none d-md-flex col-md-4 col-lg-5 justify-content-center align-items-center mb-4 px-4">
                <img src="{% static 'img/mobile_pay.svg' %}" class="form-page-image"/>
            </div>
            <div class="col-10 col-md-6 col-xl-4 px-4 d-flex flex-column justify-content-center">
                <h2 class="responsive-heading-text">Your Payment Amount</h2>
                {% include 'partials/_alerts.html' %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-check mb-3">
                        <input type="checkbox" id="chkMonthlyAmount" class="form-check-input">
                        <label for="chkMonthlyAmount" class="form-check-label">
                            Pay monthly amount of ${{ monthly_amount|intcomma }}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" id="chkCurrentDueAmount" class="form-check-input">
                        <label for="chkCurrentDueAmount" class="form-check-label">
                            Pay total current due amount of ${{ total_current_due|intcomma }}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" id="chkFullAmount" class="form-check-input" value="{{ base_rent }}">
                        <label for="chkFullAmount" class="form-check-label">
                            Pay total amount of ${{ total_charges|intcomma }}
                        </label>
                    </div>
                    <button type="submit" id="submitPayment" class="btn btn-primary">Go to Payment Page</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascripts %}
    <script>
        const paymentForm = document.getElementById('paymentForm');
        const payMonthlyAmountCheckbox = document.getElementById('chkMonthlyAmount');
        const payCurrentDueAmountCheckbox = document.getElementById('chkCurrentDueAmount');
        const payFullAmountCheckbox = document.getElementById('chkFullAmount');
        const paymentAmountInput = document.getElementById('{{ form.amount.auto_id }}');
        const submitPaymentButton = document.getElementById('submitPayment');

        submitPaymentButton.disabled = true;

        payMonthlyAmountCheckbox.addEventListener('change', function(e) {
            const inputEvent = new Event('input', {
                bubbles: true,
                cancelable: true,
            });

            if (this.checked) {
                paymentAmountInput.value = "{{ monthly_amount }}";
                payFullAmountCheckbox.disabled = true;
                payCurrentDueAmountCheckbox.disabled = true;
            } else {
                paymentAmountInput.value = "";
                payFullAmountCheckbox.disabled = false;
                payCurrentDueAmountCheckbox.disabled = false;
            }

            paymentAmountInput.dispatchEvent(inputEvent);
        });

        payFullAmountCheckbox.addEventListener('change', function(e) {
            const inputEvent = new Event('input', {
                bubbles: true,
                cancelable: true,
            });

            if (this.checked) {
                paymentAmountInput.value = "{{ total_charges }}";
                payCurrentDueAmountCheckbox.disabled = true;
                payMonthlyAmountCheckbox.disabled = true;
            } else {
                paymentAmountInput.value = "";
                payCurrentDueAmountCheckbox.disabled = false;
                payMonthlyAmountCheckbox.disabled = false;
            }

            paymentAmountInput.dispatchEvent(inputEvent);
        });

        payCurrentDueAmountCheckbox.addEventListener('change', function(e) {
            const inputEvent = new Event('input', {
                bubbles: true,
                cancelable: true,
            });

            if (this.checked) {
                paymentAmountInput.value = "{{ total_current_due }}";
                payFullAmountCheckbox.disabled = true;
                payMonthlyAmountCheckbox.disabled = true;
            } else {
                paymentAmountInput.value = "";
                payFullAmountCheckbox.disabled = false;
                payMonthlyAmountCheckbox.disabled = false;
            }

            paymentAmountInput.dispatchEvent(inputEvent);
        })

        paymentAmountInput.addEventListener('input', function(e) {
            const currentPmtAmount = paymentAmountInput.value;
            if (currentPmtAmount.length === 0 || isNaN(currentPmtAmount)) {
                submitPaymentButton.disabled = true;
                return;
            }

            if (parseFloat(currentPmtAmount) > 0) {
                submitPaymentButton.disabled = false;
            } else {
                submitPaymentButton.disabled = true;
            }
        });
    </script>
{% endblock extrascripts %}