{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RentOxford{% block title %}{% endblock title %}</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;400&family=Titillium+Web:wght@300;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.19/dist/shoelace/shoelace.css">
    <link href="{% static 'css/bundle.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.19/dist/shoelace/shoelace.esm.js"></script>
</head>
<body>
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
        <a class="navbar-brand" href="{% url 'pages:home' %}">
            <img src="{% static 'img/oxford_pm_logo-resized.png' %}" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-3 {% if request.resolver_match.view_name == 'pages:home' %}active{% endif %}">
                    <a class="nav-link text-uppercase" href="{% url 'pages:home' %}">
                        Home {% if request.resolver_match.view_name == 'pages:home' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item ml-3 dropdown {% if request.resolver_match.view_name == 'listings:listing_list' %}active{% endif %}">
                    <a
                        class="nav-link text-uppercase dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Properties {% if request.resolver_match.view_name == 'listings:listing_list' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listings:listing_list' %}">Available Rentals</a>
                        <a class="dropdown-item" href="{% url 'pages:communities' %}">Communities</a>
                    </div>
                </li>
                <li class="nav-item ml-3 text-uppercase">
                    <a class="nav-link" href="https://collegetownstoragecompany.com/">Self Storage</a>
                </li>
                <li class="nav-item ml-3 text-uppercase {% if request.resolver_match.view_name == 'pages:contact' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'pages:contact' %}">
                        Contact Us {% if request.resolver_match.view_name == 'pages:contact' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item ml-3 dropdown">
                        <a
                            class="nav-link text-uppercase dropdown-toggle"
                            href="#"
                            id="userDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            {% if user.first_name %}
                                Hi, {{ user.first_name }}!
                            {% else %}
                                Hi, {{ user.username }}!
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'users:user_dashboard' %}"><i class="far fa-id-badge mr-2"></i>Dashboard</a>
                            {% if user.is_approved %}
                                <a class="dropdown-item" href="{% url 'users:submit_maintenance_request' %}"><i class="fas fa-tools mr-2"></i>Submit Maintenance Request</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item ml-3 text-uppercase">
                        <a class="nav-link btn btn-primary text-white px-3" href="{% url 'account_login' %}">
                            <i class="fas fa-sign-in-alt mr-2"></i>Tenant Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <!-- FOOTER -->
    <footer class="footer bg-secondary text-white pt-4 pb-2">
        <div class="container d-flex flex-column">
            <h3>GET IN TOUCH</h3>
            <div class="footer-info">
                <div class="footer-info__icon"><i class="fas fa-map-marker-alt"></i></div>
                428 N. Lamar, Suite 111, Oxford, MS 38655
            </div>
            <div class="footer-info">
                <div class="footer-info__icon"><i class="fas fa-phone"></i></div>
                662-238-3353
            </div>
            <div class="footer-info">
                <div class="footer-info__icon"><i class="fas fa-envelope"></i></div>
                rentoxford100@gmail.com
            </div>
            <p class="text-tertiary pt-3 footer-copyright">
                &copy; Copyright 2020 Oxford Property Management
            </p>
        </div>
    </footer>

    <!-- JS Includes -->
    <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://kit.fontawesome.com/bcdd1ea5a6.js"
        crossorigin="anonymous"
    ></script>
    {% block extrascripts %}{% endblock extrascripts %}
</body>
</html>