/* SITEWIDE STYLES */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
}

.text-light-gray {
    color: #bac0c7;
}

.footer-info {
    margin: 4px 0;
}

.footer-info__icon {
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
}

/* HOME PAGE */
.hero {
    min-height: 500px;
    background: linear-gradient(
            rgba(33, 45, 58, 0.2),
            rgba(33, 45, 58, 0.2)
        ),
        url(../img/banner.jpg);
    background-size: cover;
}

#search-form {
    padding: 2em 3em;
    background-color: rgba(33, 45, 58, 0.8);
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

/* AVAILABLE RENTALS PAGE */
.img-overlay-address {
    background: rgba(0, 0, 0, 0.5) linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 40%,
            rgba(0, 0, 0, 0.5) 100%
    );
    padding: 0.35em 0.5em;
}

.img-overlay-available {
    background-color: rgba(0, 180, 0, 0.6);
}

.img-overlay-rented {
    background-color: rgba(0, 0, 0, 0.5);
}

.listing-card-info {
    height: 100%;
}

.sticky-offset {
    top: 2.5rem;
}

/* AVAILABLE RENTALS SEARCH FORM */
.listing-search-form__group {
    margin: 1em 0;
    padding: 0 0.5em;
}

.listing-search-form__checkboxes {
    margin: 1em;
}

.listing-search-form__button {
    display: flex;
    justify-content: center;
}

.listing-search-form__button button {
    width: 70%;
}

@media screen and (min-width: 575px) {
    .listing-search-form__inputs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

    .listing-search-form__checkboxes {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1050px) {
    .listing-search-form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .listing-search-form__button button {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .listing-search-form {
        justify-content: center;
    }
}

/* PROPERTY DETAILS PAGE */
.main-house-image {
    max-width: 100%;
}

#house-gallery img {
    cursor: pointer;
}

.listing-social-link,
.listing-social-link:hover {
    text-decoration: none;
}

#listing-map,
#listing-list-map {
    width: 100%;
}

/* COMMUNITIES PAGE */
.responsive-heading-text {
    font-size: calc(2rem + 1.5vw);
    color: #212d3a;
}

/* PAYMENT FORM */
#card-element {
    padding: 0.75em 1.25em;
    border: 1px solid rgba(216, 218, 223, 1);
    box-shadow: 0 0 3px 0 rgba(216, 218, 223, 0.6);
    border-radius: 4px;
}

.hidden {
    display: none;
}

/* ANIMATIONS FOR DISABLED BUTTONS */
.wait-spinner {
    animation: rotation 1500ms infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: 1440px) {
    .img-overlay-address {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1439px) {
    .img-overlay-address {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #listing-map,
    #listing-list-map {
        height: 500px;
    }
}

@media screen and (max-width: 767px) {
    #listing-map {
        height: 400px;
    }
}

@media screen and (min-width: 576px) {
    .navbar-brand img {
        width: 375px;
    }

    .form-page-image {
        width: 100%;
        max-width: 550px;
    }
}

@media screen and (max-width: 575px) {
    .navbar-brand {
        display: block;
        margin: 0 auto;
    }

    .navbar-brand img {
        width: 250px;
    }

    .form-page-image {
        width: 100%;
        max-width: 250px;
    }

    .footer h3 {
        font-size: 1.25rem;
    }

    .footer-info,
    .footer-copyright {
        font-size: 0.85rem;
    }
}