{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} | Submit Maintenance Request{% endblock title %}

{% block content %}
<div class="container-fluid my-4 p-4">
    <div class="row justify-content-center">
        <div class="d-none d-md-flex col-md-4 col-lg-5 justify-content-center align-items-center mb-4 px-4">
            <img src="{% static 'img/at_home.svg' %}" class="form-page-image"/>
        </div>
        <div class="col-10 col-md-6 col-xl-4 px-4">
            <h2 class="responsive-heading-text">Submit Maintenance Request</h2>
            <p class="lead">If you are having maintenance issues, please fill out the form below and we will be in touch.</p>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button id="maint-form-submit" type="submit" class="btn btn-primary btn-block">
                    <i class="fas fa-paper-plane mr-2"></i>Submit
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script>
        const submitButton = document.getElementById('maint-form-submit');
        submitButton.addEventListener('click', function (e) {
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fas fa-spinner mr-2 wait-spinner"></i>Please wait...';
        });
    </script>
{% endblock extrascripts %}